@if (loading) {
  <atom-loading />
}


@if (pokemon) {
  <section class="container mt-2">

    <atom-button-back [url]="'/'" />

    <section class="row">
      <organism-pokemon-card-details class="col pcard" [pokemon]="pokemon" [refreshDetails]="refreshScreen" />
      <organism-pokemon-chart-stats class="col pcard" [stats]="pokemon.stats" [refeshCharts]="refreshScreen" />
    </section>

    <section class="row">
      <organism-pokemon-damage-taken class="col pcard" [types]="pokemon.types" />
    </section>

    <section class="row">
      <organism-pokemon-evolution class="col pcard" [species]="pokemon.species" />
    </section>

  </section>
}
