// ! Varables - Constants

$carousel-action-color: rgba(145, 144, 144, 0.5);
$color-shadow-base: rgba(183, 189, 193, 0.3);
$color-shadow-item: rgba(10, 10, 10, 0.45);

// ! Custom Styles

.poke-card-base {
  box-shadow: 0px 10px 51px -5px $color-shadow-base;
  border-radius: 12px;
}

.poke-card-carousel {
  border-radius: 25px;
}

.poke-card-header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.poke-card-header > div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: large;
}

.poke-card-header > div p::first-letter {
  text-transform: uppercase;
}

.poke-card-header > div p span {
  color: #7a7d80;
}

.poke-card-container-type {
  display: flex;
}

.poke-card-container-type > div {
  margin-right: 15px;
  width: 110px;
  border-radius: 15px;
  text-align: center;
  color: #7a7d80;
  border: 1px  dotted #7a7d80;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
}

.poke-card-container-type > div span::first-letter {
  text-transform: uppercase;
}

.carousel-item > div img {
  margin: 50px auto;
  display: block;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 10px 51px -5px $color-shadow-item;
}

// ! Colors Background By Types

.normal {
  background-color: rgba(141, 141, 141, 0.2);
}

.grass {
  background-color: #D6EBDC;
}

.water {
  background-color: #DFECF5;
}

.fire {
  background-color: #FFEBCA;
}

.fighting {
  background-color: rgba(196, 77, 97, 0.2);
}

.flying {
  background-color: #758CBD;
}

.poison {
  background-color: rgba(172, 106, 202, 0.2);
}

.ground {
  background-color: rgba(203, 119, 74, 0.2);
}

.rock {
  background-color: rgba(134, 203, 190, 0.2);
}

.bug {
  background-color: rgba(131, 158, 56, 0.2);
}

.ghost {
  background-color: rgba(97, 110, 183, 0.2);
}

.steel {
  background-color: rgba(101, 148, 161, 0.2);
}

.electric {
  background-color: rgba(207, 190, 93, 0.2);
}

.psychic {
  background-color: rgba(235, 140, 133, 0.2);
}

.dragon {
  background-color: rgba(70, 105, 153, 0.2);
}

.dark {
  background-color: rgba(61, 60, 63, 0.2);
}

.fairy {
  background-color: rgba(221, 138, 220, 0.2);
}

// ! Boostrap 5

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '►';
  font-size: 50px;
  color: $carousel-action-color;
}

.carousel-control-prev-icon:after {
  content: '◄';
  font-size: 50px;
  color: $carousel-action-color;
}

.carousel-indicators .active {
  background-color: $carousel-action-color;
}
