<atom-loading *ngIf="loading"></atom-loading>

<div class="container mt-5" *ngIf="!loading">

  <!-- ! Container Pokemon Imagen + Info -->
  <div class="row" *ngIf="pokemon">

    <div class="col poke-card-base">

      <!-- ! Container Header + Action -->
      <div class="poke-card-header">
        <div>
          <p><strong>{{pokemon.name}}</strong>&nbsp;<span>#{{pokemon.id.toString().padStart(4, '0')}}</span></p>

          <div class="poke-card-container-type">
            <div *ngFor="let objectType of pokemon.types" >
              <img [src]="'assets/img/icon-types/'+ objectType.type.name + '.svg'" alt="Type">
              <span>{{objectType.type.name}}</span>
            </div>
          </div>

        </div>

        <atom-button-favorite [pokemonId]="pokemon.id"></atom-button-favorite>
      </div>

      <!-- ! Container Carousel Pokemon Image -->
      <div id="carouselPokemonImage" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselPokemonImage" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Pokemon Default"></button>
          <button type="button" data-bs-target="#carouselPokemonImage" data-bs-slide-to="1" aria-label="Pokemon Shiny"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active poke-card-carousel" [ngClass]="pokemon.types[0].type.name">
            <div class="d-block w-100">
              <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="'Image ' + pokemon.name">
            </div>
          </div>

          <div class="carousel-item poke-card-carousel" [ngClass]="pokemon.types[0].type.name">
            <div class="d-block w-100" >
              <img [src]="pokemon.sprites.other['official-artwork'].front_shiny" [alt]="'Image ' + pokemon.name">
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPokemonImage" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPokemonImage" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="mt-3">
        <p><strong>Species:</strong>&nbsp;{{specie}}</p>
        <p><strong>Height:</strong>&nbsp;{{height}}</p>
        <p><strong>Weight:</strong>&nbsp;{{weight}}</p>
        <p><strong>Abilities:</strong>&nbsp;{{abilities}}</p>
      </div>

    </div>

    <div class="col poke-card-base">

      <!-- ! Container Header -->
      <div class="poke-card-header">
        <div>
          <p><strong>Base Stats</strong></p>
        </div>
      </div>

      <div>
        <ngx-charts-bar-horizontal
          [scheme]="colorScheme"
          [results]="results"
          [animations]="true"
          [yAxis]="true"
          [showDataLabel]="true"
          [tooltipDisabled]="true"
          [roundEdges]="true"
          [xScaleMax]="xScaleMax"
        >
        </ngx-charts-bar-horizontal>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col poke-card-base" style="min-height: auto !important;">

      <!-- ! Container Header -->
      <div class="poke-card-header">
        <div>
          <p><strong>Damage Taken</strong></p>
        </div>
      </div>


      <div class="row">
        <div *ngFor="let damage of damages" class="col poke-card-damange" [ngClass]="{
          'poke-card-damange-2x': damage.value === 2,
          'poke-card-damange-05x': damage.value === 0.5,
          'poke-card-damange-025x': damage.value === 0.25,
          'poke-card-damange-1x': damage.value === 1 || damage.value <= 0
        }">
          <div class="row" style="align-items: center;">
            <div class="col">
              <img [src]="'assets/img/icon-types/'+ damage.name + '.svg'" alt="Type {{damage.name}}" width="40" height="40">
            </div>
            <div class="col">
              <p>{{damage.name}}</p>
              <p style="font-size: 20px;"><strong>{{damage.value}}</strong></p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- <div class="row" *ngIf="evolutionChain">

    <div class="col poke-card-base" style="min-height: auto !important;">
      <div class="poke-card-header">
        <div>
          <p><strong>Evolution Chain</strong></p>
        </div>
      </div>


      <div class="row">
        <div class="col" *ngFor="let evolution of evolutionChain; let last = last;">

          <a href="/pokemon/details/{{evolution.id}}">
            <p>{{evolution.name}}</p>
            <img [src]="evolution.sprites.front_default">
            <mat-icon *ngIf="!last">arrow_forward</mat-icon>
          </a>

        </div>
      </div>

    </div>

  </div> -->

</div>
