<div class="col poke-card"  [ngClass]="pokemon.types[0].type.name" routerLink="/pokemon/details/{{pokemon.id}}" matTooltip="More Information">
  <div class="poke-card-container-action">
    <button mat-icon-button color="warn" (click)="onFavorite()">
      <mat-icon *ngIf="!isFavorite">favorite_border</mat-icon>
      <mat-icon *ngIf="isFavorite">favorite</mat-icon>
    </button>
  </div>

  <div class="poke-card-container-image">
    <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="'Image ' + pokemon.name">
  </div>
  <div class="poke-card-container-info">
    <div>
      <span>#{{pokemon.id.toString().padStart(4, '0')}}</span>
      <strong><p>{{pokemon.name}}</p></strong>
    </div>
    <div class="poke-card-container-info-icon">
      <img *ngFor="let objectType of pokemon.types" [src]="'assets/img/icon-types/'+ objectType.type.name + '.svg'" alt="Type">
    </div>
  </div>
</div>
