<div class="col poke-card" (click)="moreInfo()" [ngClass]="pokemon.types[0].type.name">
  <div class="poke-card-container-image">
    <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="'Image ' + pokemon.name">
  </div>
  <div class="poke-card-container-info">
    <div>
      <span>#{{pokemon.id.toString().padStart(4, '0')}}</span>
      <strong><p>{{pokemon.name}}</p></strong>
    </div>
    <div class="poke-card-container-info-icon">
      <img *ngFor="let objectType of pokemon.types" [src]="'assets/img/icon-types/'+ objectType.type.name + '.svg'" alt="Type">
    </div>
  </div>
</div>
