.poke-card {
  min-width: 350px;
  min-height: 450px;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 12px;
  transition: all 0.2s;
  animation: fadeIn 1s forwards;
  margin: 15px;
}

.poke-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.7);
}

.poke-card .poke-card-container-action {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.poke-card .poke-card-container-image {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}

.poke-card .poke-card-container-image::before {
  content: "";
  width: 16.5rem;
  height: 16.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.poke-card .poke-card-container-image img {
  max-width: 55%;
  max-height: 200px;
}

.poke-card .poke-card-container-info {
  display: flex;
  padding: 0 2.8rem;
  align-items: flex-end;
  justify-content: space-between;
}

.poke-card .poke-card-container-info .pokemon-info-id {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #7a7d80;
  margin-bottom: 0.6rem;
}

.poke-card  .poke-card-container-info > section strong {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: #2f3133;
}

.poke-card  .poke-card-container-info > section strong p::first-letter {
  text-transform: uppercase;
}

.poke-card .poke-card-container-info .poke-card-container-info-icon {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
}

.poke-card .poke-card-container-info img {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


// ! Colors Background By Types

.poke-card.normal .poke-card-container-image::before {
  background-color: rgba(141, 141, 141, 0.2);
}

.poke-card.grass .poke-card-container-image::before {
  background-color: #D6EBDC;
}

.poke-card.water .poke-card-container-image::before {
  background-color: #DFECF5;
}

.poke-card.fire .poke-card-container-image::before {
  background-color: #FFEBCA;
}

.poke-card.fighting .poke-card-container-image::before {
  background-color: rgba(196, 77, 97, 0.2);
}

.poke-card.flying .poke-card-container-image::before {
  background-color: #758CBD;
}

.poke-card.poison .poke-card-container-image::before {
  background-color: rgba(172, 106, 202, 0.2);
}

.poke-card.ground .poke-card-container-image::before {
  background-color: rgba(203, 119, 74, 0.2);
}

.poke-card.rock .poke-card-container-image::before {
  background-color: rgba(134, 203, 190, 0.2);
}

.poke-card.bug .poke-card-container-image::before {
  background-color: rgba(131, 158, 56, 0.2);
}

.poke-card.ghost .poke-card-container-image::before {
  background-color: rgba(97, 110, 183, 0.2);
}

.poke-card.steel .poke-card-container-image::before {
  background-color: rgba(101, 148, 161, 0.2);
}

.poke-card.electric .poke-card-container-image::before {
  background-color: rgba(207, 190, 93, 0.2);
}

.poke-card.psychic .poke-card-container-image::before {
  background-color: rgba(235, 140, 133, 0.2);
}

.poke-card.dragon .poke-card-container-image::before {
  background-color: rgba(70, 105, 153, 0.2);
}

.poke-card.dark .poke-card-container-image::before {
  background-color: rgba(61, 60, 63, 0.2);
}

.poke-card.fairy .poke-card-container-image::before {
  background-color: rgba(221, 138, 220, 0.2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

