.card {
  &__section {
    min-width: 350px;
    min-height: 450px;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
    border-radius: 12px;
    transition: all 0.2s;
    animation: fadeIn 1s forwards;
    margin: 15px;
  }

  &__section:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.7);
  }

  &__info {
    &__section {
      display: flex;
      padding: 0 2.8rem;
      align-items: flex-end;
      justify-content: space-between;

      &--justify-content {
        &--center {
          justify-content: center;
        }

        &--end {
          justify-content: end;
        }
      }
    }

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

