@import '../../../styles/color-types.scss';

.circle {
  &__section {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.4rem;
  }

  &__section::before {
    content: "";
    width: 16.5rem;
    height: 16.5rem;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }

  &__atom-image-pokemon {
    scale: 2.5;
  }
}

.circle-small {
  &__section {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.4rem;
  }

  &__section::before {
    content: "";
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
  }

  &__atom-image-pokemon {
    scale: 1.2;
  }
}
