@if (loading) {
  <atom-loading />
}

<!-- <app-search (searchValue)="processPokemons(undefined, $event)"></app-search> -->
<!-- <molecule-search /> -->

<section class="container">

  <section class="row">

    @for (pokemonId of pokemonIds; track pokemonId) {
      <organism-pokemon-card-default class="col" [pokdemonId]="pokemonId" />
    } @empty {
      <p>Not Found Pokémon!</p>
    }

    <atom-paginator
      [length]="pokemonLenght"
      (onPageEvent)="handlePageEvent($event)"
      (onPaginator)="paginator = $event" />

  </section>

</section>
