@if (loading) {
  <app-loading />
}

<app-search (searchValue)="processPokemons(undefined, $event)"></app-search>

<section class="container">
  <section class="row">

    @for (pokemon of pokemons; track pokemon.id) {
      @defer (on viewport) {
        <app-card class="col" [pokemon]="pokemon" />
      } @placeholder {
        <p>Loading...</p>
      }
    } @empty {
      <p>Not Found Pokémon!</p>
    }

    <app-paginator
      [length]="pokemonLenght"
      (onPageEvent)="handlePageEvent($event)"
      (onPaginator)="paginator = $event" />

  </section>

</section>
