<section class="row">
  <atom-text-pokemon-detail class="col" title="Species" [text]="specie" />
  <atom-text-pokemon-detail class="col" title="Abilities" [text]="abilities" />
</section>
<section class="row">
  <atom-text-pokemon-detail class="col" title="Weight" [text]="weight" />
  <atom-text-pokemon-detail class="col" title="Height" [text]="height" />
</section>
<section class="row">
  <atom-text-pokemon-detail class="col" title="Meeting Places" [text]="meetingPlaces" />
  <atom-text-pokemon-detail class="col" title="Generation" [text]="generation" />
</section>
