<section class="card__section"  [ngClass]="types[0]">

  <molecule-actions-default-pokemon [pokemonId]="pokemon.id" />

  <molecule-image-circle-pokemon [pokemon]="pokemon" />

  <section class="info__section">
    <molecule-text-pokemon-reference
      [pokemonId]="pokemon.id"
      [pokemonName]="pokemon.name"
      [styleObjectCode]="styleObjectCode"
      [styleObjectName]="styleObjectName"
    />
  </section>

  <section class="info__section info__section--justify-content-center">
    <molecule-image-pokemon-types [types]="types" [isDetailed]="true" class="mb-4" />
  </section>

</section>
