<section class="col poke-card"  [ngClass]="pokemon.types[0].type.name">

  <molecule-actions-default-pokemon [pokemonId]="pokemon.id" />

  <molecule-image-circle-pokemon [pokemon]="pokemon" />

  <section class="info__section">
    <molecule-text-pokemon-reference
      [pokemonId]="pokemon.id"
      [pokemonName]="pokemon.name"
      [styleObjectCode]="styleObjectCode"
      [styleObjectName]="styleObjectName"
    />

    <!--
    <section class="poke-card-container-info-icon">
      @for (objectType of pokemon.types; track $index) {
        <img src="assets/img/icon-types/{{objectType.type.name}}.svg" alt="Type {{objectType.type.name}}" />
      }
    </section> -->

  </section>

</section>
